.legend { list-style: none;}
.legend:after { clear: both;}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; margin-right: 16px;}
/* your colors */
.legend .redbullet { background-color: #FDB515; }
.legend .greenbullet { background-color: #003262; }



ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    list-style: none;
    padding-left: 1em; 
    text-indent: -.7em;
/*    color: #003262; 
    font-size: 30px;*/
}

#content {
    margin-top: 10;
}

.single:before {
    content: "• ";
    color: #003262; /* or whatever color you prefer */
    font-size: 30px;
/*    position:relative;
    top: 5px;*/
}

.weekly:before {
    content: "• ";
    color: #FDB515; /* or whatever color you prefer */
    font-size: 30px;
/*    position:relative;
    top: 5px;*/
}